{% extends 'mitrecore/detail.html' %}
{% load display_mitre_source_references_by_type model_url from mitreattack_tags %}

{% block content_model_references %}
  {# If it's been revoked, place the refence it's revoking information at the top of the listing. #}
  {% display_mitre_source_references_by_type 'revoked-by' title='Obsoleted By' %}

  <h3 class="underline">Log Sources</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Channel</th>
    </tr>
      {% for item in object.log_sources %}
    <tr><td>{{ item.name }}</td><td>{{ item.channel }}</td></tr>
      {% endfor %}
  </table>

  <h3 class="underline">Detection Strategy</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Technique Detected</th>
    </tr>
    {% for det in object.detection_strategies.all %}
      <tr>
        <td><a href="{% model_url det 'detail' %}" title="{{ det.name }}">{{ det.mitre_id }}</a></td>
        <td><a href="{% model_url det 'detail' %}" title="{{ det.mitre_id }}">{{ det.name }}</a></td>
        {% with tech=det.source_refs.first.target_ref %}
          <td><a href="{% model_url tech 'detail' %}" title="{{ tech.name }}">{{ tech.mitre_id }}</a></td>
        {% endwith %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
