{% extends 'mitreattack/display_mitre_references_by_type.html' %}
{% load markdown from mitrecore.markdown %}
{% load model_url first_sentence from mitreattack_tags %}


{% block references_table %}
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Analytic ID</th>
      <th>Analytic Description</th>
    </tr>
    {% for detection_strategy in references %}
      {% with analytics=detection_strategy.analytics.all %}
        {% for analytic in analytics %}
          <tr>
            {% if forloop.first %}
              <td rowspan="{{ detection_strategy.analytics.count }}"><a href="{% model_url detection_strategy 'detail' %}">{{ detection_strategy.mitre_id }}</a></td>
              <td class="truncate" rowspan="{{ detection_strategy.analytics.count }}">
                <a href="{% model_url detection_strategy 'detail' %}">{{ detection_strategy.name }}</a>
              </td>
            {% endif %}
              <td>
                <a href="{% model_url analytic 'detail' %}">{{ analytic.mitre_id }}</a>
              </td>
              <td class="truncate">
                {{ analytic.description | first_sentence | markdown | safe }}
              </td>
          </tr>
        {% endfor %}
      {% endwith %}
    {% endfor %}
  </table>
{% endblock %}
